{% extends "base.html" %}

{% block title %}Tải lên ảnh{% endblock %}

{% block content %}
<h1 class="mt-5">Tải lên ảnh của bạn</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-warning">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<form method="post" enctype="multipart/form-data" class="mt-4" onsubmit="showLoading()">
    <div class="form-group">
        <input  type="file" name="file" required class="form-control-file">
    </div>
    <button style="border-radius: 10px;" type="submit" class="btn btn-primary">Tải lên</button>
</form>
<!-- Thông báo chờ -->
<div id="loading" class="mt-4" style="display: none;">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Đang xử lý...</span>
    </div>
    <p>Đang xử lý, vui lòng chờ...</p>
</div>
{% endblock %}

{% block scripts %}
<script>
    function showLoading() {
        document.getElementById('loading').style.display = 'block';
    }
</script>
{% endblock %}
